body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
main {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
}
.vertical {
  flex-direction: column;
}
#navbar,
#section {
  padding-left: 120px;
}
#navbar {
  padding-right: 120px;
}
#navbar {
  height: 10vh;
  -webkit-box-shadow: 0px -4px 11px 7px rgba(0, 0, 0, 0.07);
  box-shadow: 0px -4px 11px 7px rgba(0, 0, 0, 0.07);
  justify-content: space-between;
  align-items: center;
}
#navbar img {
  height: 25px;
  width: 170px;
}
#nav-icons {
  width: 320px;
  justify-content: space-between;
  align-items: center;
}
#searchbutton,
#userbutton {
  height: 30px;
}
#searchbutton {
  width: 150px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  background-color: white;
}
#userbutton {
  padding-top: 3px;
  font-size: large;
  width: 30px;
  color: white;
  background-color: #ee5135;
  border-style: none;
  border-radius: 50%;
}

#section {
  padding-right: 50px;
  height: 200vh;
}
#article-align {
  width: 80%;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: lightgrey;
}
#options,
#aside {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
}
#options {
  width: 92%;
  height: 30px;
  margin-top: 50px;
  padding-left: 5px;
  gap: 20px;
  font-size: small;
  color: gray;
}
#bold {
  font-weight: bold;
  color: black;
  margin-bottom: -1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}
#article {
}
#aside-container {
  padding-left: 45px;
  padding-right: 60px;
  width: 40%;
}
#aside {
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 30vh;
}
#logos {
  width: 25%;
  justify-content: space-between;
  align-items: center;
}
#mediumlogo {
  width: 40px;
}
#twitterbutton {
  justify-content: center;
  align-items: center;
}
.twitterlogo {
  width: 25px;
  height: 20px;
}
#aside p {
  text-align: center;
}
#aside button {
  width: 200px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
  border-color: gray;
  background-color: white;
}
#aside u {
  color: grey;
}
#aside-mid {
  width: 80%;
  height: 40vh;
  margin-top: 30px;
}
#aside-mid button {
  background-color: #f2f2f2;
  color: black;
  border-style: none;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#buttons {
  flex-wrap: wrap;
  gap: 10px;
}
#aside-bottom{
  justify-content: space-between;
}
.bottom-left{
  align-items: center;
}
.bottom-left img{
  margin-right: 15px;
  aspect-ratio: 1/1;
  width:50px;
  border-radius: 50%;
}
.bottom-left h4{
  margin-bottom: 5px;
}
.bottom-left p{
  width: 200px;
  margin-top: 5px;
  font-size: small;
  color: gray;
}
#followbutton{
  justify-content: space-around;
}
#followbutton button{
  color: gray;
  background-color: white;
  height: 30px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
